.screenshot {
  padding-top:30px;
  height: 200px;
  width: 300px;
}

.tile {
	display: inline-block;
	width: 30%;
	margin-right: 3%;
	margin-top: 25px;
	text-align: center;
	border: 2px solid #E13A63;
	box-sizing: border-box;
}

.tile img	{
	display: block;
	margin: 0 auto;
}

@media screen and (min-width: 300px) and (max-width: 400px){
	.main-content p {
		font-size: 12px;
	}
}

@media screen and (min-width: 300px) and (max-width: 400px){
  #headshot {
    width: 80%;
    height: 80%;
  }
}

@media screen and (min-width: 300px) and (max-width: 400px){
  .screenshot {
    width: 100%;
  }
}

@media screen and (min-width: 300px) and (max-width: 400px){
  .title {
    width: 100%;
    display: block;
  }
}
